# -----------------------------
# 🧱 Minio Configuration
# -----------------------------
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SERVER_URL=http://localhost:9000
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

# -----------------------------
# 🧱 MySQL Configuration
# -----------------------------
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=backend_base
MYSQL_PORT=3306

# -----------------------------
# 🧱 PhpMyAdmin Configuration
# -----------------------------
PHPMYADMIN_PORT=8081

# -----------------------------
# 🧱 Cloudflare Tunnel
# -----------------------------
CLOUDFLARE_TOKEN=eyJhIjoiZD

# -----------------------------
# 💳 VietQR Payment Configuration
# -----------------------------
VIETQR_API_URL=https://api.vietqr.io
VIETQR_CLIENT_ID=your-vietqr-client-id
VIETQR_API_KEY=your-vietqr-api-key

# -----------------------------
# 💳 PayPal Payment Configuration (for VNPay method)
# -----------------------------
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret